/* .Btn{
    padding: 2rem 4rem;
    position: absolute;
    top: 15rem;
    left: 50rem;
}
.Btn1{
    background-color: blanchedalmond;
    padding: 1rem 2rem;
    font-size: 20px;
}
.Btn2{

    position: absolute;
    top: 30rem;
    left: 50rem;
    font-size: 30px;
}
 */
